.Ofertas{
        position: relative;
        overflow: visible;
        margin-left: 70px;
        float: left;
        height: auto;
             
}
#nombre_img{
   background-color: rgb(43, 150, 199);
   border-radius: 50px;
}